.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navlist {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.landingMainContainer>div:nth-child(1) {
  font-size: 1.5rem;
}

.landingMainContainer>div:nth-child(1) div[role='button'] {
  background: #D97500;
  width: fit-content;
  padding: 0.8rem;
  border-radius: 20px;
  margin-top: 1.9rem;
}

.landingMainContainer>div:nth-child(1) div[role='button'] a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.landingMainContainer>div:nth-child(2) img {
  height: 60vh;
  width: auto;
}
/* home */
.navBar {
  display: flex;
  align-items: center;
  height: 8vh;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;
  color: white;
  background-color: rgb(50, 59, 189);
}

.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 92vh;
  gap: 10vw;
  justify-content: center;
  color: white;
  background-color: rgb(77, 87, 221);
}

.leftPanel {
  height: 80%;
  display: flex;
  align-items: center;
}

.rightPanel {
  height: 80%;
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}
